/* Geral */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Lucida Sans", sans-serif;
    font-size: 14px;
    background-color: #00B35D;
    border: none;
}

.titulo {
    font-size: 30px;
}


/* MENU DE NAVEGACAO */

.nav-ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; 
  position: relative;
  top: 0;
  width: 100%;
} 

.nav-links {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: larger;
  background-color: #333;
} 
#contato {
    float: right;
    color: white;
    background-color: #006635;

}

li a:hover {
    background-color: #111;
}

.active {
    background-color: brown;
    color: white;
  }


/* CONTEUDO SO SITE */

.main-geral{
  padding-bottom: 200px; 
  height: 320px;
}

.coluna {
  float: left;
  padding: 10px;
}

.coluna.video {
    width: 65%;
    height: auto;
    padding: auto;
  }

.video {
    width: 100%;
    height: auto;
    border: 1px ;
    border-radius: 13px ;
}

.coluna.texto {
  width: 30%;
  height: 500px;
  padding: auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.imagem-texto {
    display: grid;
    grid-template-areas: "col1 col2";
    grid-template-columns: 1fr 1fr;
}


/* Footer (rodapé) */

footer {
  list-style-type: none;
  width: 100%;
  height: auto;
  padding: 0;
} 

.titulo-footer {
  font-size: 20px;
  color: whitesmoke;
  padding: 5px;
  background-color: #333;
}

.texto-footer {
  font-size: 13px;
  color: whitesmoke;
  padding: 5px;
  background-color: #333;
}



/* tentativa footer por grade */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding: 0px;
}
.grid-item {
  border: none;
  background-color: #333;
}

.grid-info {
  display: grid;
  grid-template-columns: auto auto ;
  padding: 0px;
}

.grid-sub-info {
  border: none;
}


.grid-item.foto {
  padding: 0px;
  width: 100%;
  height: auto;
}

.texto-nome {
  font-size: large;
  color: #333;
}


/* tenatativa e erro */
.coluna-footer {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  width: 15%;
  height: auto;
 border: none; 
}
  
.coluna-footer.img {
  width: auto;
  height: 150px;
  padding: 0px;
  grid-area: 'foto';
  margin: 10px;
}

.imge {
  width: 100%;
  height: auto;
}

.coluna-footer.texto {
  width: 100px;
  padding: 0px;
  margin-top: auto;
  border: none;
  grid-area: 'texto';
}

.jeff-direita {
  float: right;
}

.row-footer::after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 40px;
  }
 
.footer-link {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 7px;
    font-size: larger;
    margin-top: 5px;
    border: none;
    background-color: #333;
}

.nome-participantes{
    font-size: 15px;
    width: 300px;
    border: none;
    color: cyan;
    margin-top: 10px;
    background-color: #333;
}

#texto-jeff {
  width: 320px;
  padding: 0px;
}

table {
  border: none;
  background-color: #333;
}

.cor-fundo-footer {
  background-color: #333;
}









/* FORMULARIO DE CONATATO */

.container-contato {
    border: 1px solid rgb(196  197 205);
    /* define o tamanho maximo da caixa/classe */
    max-width: 500px;
    /* auto -- centraliza tudo */
    margin: 100px auto;
    /* centraliza os elemnetos */
    text-align: center;
    /* cor de fundo da classe */
    background: gainsboro;
    padding: 20px ;
    border-radius: 10px;
}

  
.form-control {
    /* da um espacamento entre as as caixas */
    margin: 25px;
}
  
.form-control input[type="text"], 
.form-control input[type="password"] {
    width: 80%;
    /* da um espacamento do texto de dentro da caixa de pergunta, da um espacamento no miolo da caixa */
    padding: 12px 20px;
    /* da um espacamento do texto de dentro da caixa de pergunta para a esquerda */
    padding-left: 5px;

    outline: 0;
}
  
button {
    margin-bottom: 20px;
    /* define a cor do botao */
    background: rgb(5, 1, 54);
    /* define a cor da letra do botao */
    color: #fff;
    /* define o tamanho da fonte */
    font-size: 16px;
    /* da um espacamento do texto de dentro da caixa de pergunta, da um espacamento no miolo da caixa */
    padding: 10px;
    /* cria uma borda envolta da caixa */
    border: 0;
    /* cria um estilo do mause de mao quando se passa por cima */
    cursor: pointer;
}


.erro {
    color: red;
    text-align: left;
    margin-left: 32px;
    transition: all .2s;
}

.esconder{
    display: none
}
